<header id="masthead">
    <div class="header-container">
        <div class="header-row brand">
            <h1>
                <a href="{{ replace:'index.html','' }}" title="Quantum Immersion Day">
		    <img src="assets/logos/ionq.png" alt="IonQ">
                    Quantum Immersion Day
                </a>
            </h1>
        </div>
        <nav class="header-row" id="nav">
            <div class="header-nav">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                <ul class="menu">
                    <li class="links-to-floor-li">
                        <a href="#home" data-id="1" class="active">Home</a>
                    </li>
			<!--
                    <li class="links-to-floor-li">
                        <a href="#registration" data-id="2">Registration</a>
			-->
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#venue" data-id="3">Venue</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#agenda" data-id="4">Agenda</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#panel" data-id="5">Panel Discussions</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#birds" data-id="6">Birds of a feather</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#tech" data-id="7">Technology</a>
                    </li>
					<li class="links-to-floor-li">
                        <a href="#sponsors" data-id="5">Sponsors</a>
                    </li>
                </ul>
            </div>
        </nav><!-- / #nav -->
        <div class="header-row copyright">
            <ul>
                <li>&copy; 2025 MTSU Quantum Initiative</li>
                <li>Maintained by: <a href="https://quantum.mtsu.edu">MTSU Quantum Initiative</a></li>
            </ul>

            <a href="#nav" class="hamburger tooltips" title="Menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner">Menu</span>
                </span>
            </a>
        </div>
    </div>
</header><!-- / #masthead -->
